<!DOCTYPE html>
<html lang="en">
<head>
   <title>Bank Note Checker</title>
   <h1>Bank Note Checker</h1>
</head>
<body>
  <label for="varience">Enter Varience</label>
  <input type="number" id="varience"><br>

  <label for="skewness">Enter skewness</label>

  <input type="number" id="skewness"><br>
  <label for="curtosis">Enter curtosis</label>
  <input type="number" id="curtosis"><br>
  <label for="entropy">Enter entropy</label>
  <input type="number" id="entropy"> <br>
  <br><br>
  <input type="submit" value="Submit" >
  <hr>{{output}}<h2>

</body>
</html>